# Variables de entorno para uso local (docker-compose)
# No incluir credenciales de producción aquí

POSTGRES_USER=idp_admin
POSTGRES_PASSWORD=local_postgres_password
POSTGRES_DB=idp_db

KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:9093
KAFKA_CLUSTER_ID=local_kafka_cluster_id
